[submodule "DCS/implementation"]
	path = DCS/implementation
	url = https://github.com/eclipse-xfsc/facis-dcs.git
[submodule "FAP/Decentralised Catalogue Management/implementation"]
	path = FAP/Decentralised Catalogue Management/implementation
	url = https://github.com/eclipse-xfsc/facis-fap-decentralized-catalogue-management.git
[submodule "FAP/IOT & AI over Trusted Zones/implementation"]
	path = FAP/IOT & AI over Trusted Zones/implementation
	url = https://github.com/eclipse-xfsc/facis-fap-iot-ai.git
[submodule "FAP/Partner Onboarding (Reference FAP)/implementation"]
	path = FAP/Partner Onboarding (Reference FAP)/implementation
	url = https://github.com/eclipse-xfsc/facis-fap-partner-onboarding.git
[submodule "PoC/aviation-poc/implementation"]
	path = PoC/aviation-poc/implementation
	url = https://github.com/eclipse-xfsc/facis-poc-federation-aviation.git
[submodule "FAP/Principal Credential Issuance/implementation"]
	path = FAP/Principal Credential Issuance/implementation
	url = https://github.com/eclipse-xfsc/facis-fap-principal-credential-issuance.git
